<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<link rel="stylesheet" type="text/css" href="/public/slick/slick.css" />
	<link rel="stylesheet" type="text/css" href="/public/slick/slick-theme.css" />
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.0/css/bulma.css">

    <link rel="stylesheet" type="text/css" href="/public/slick/slick.scss" />
    <link rel="stylesheet" type="text/css" href="/public/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="/public/slick/slick-theme.css" />
    {{!-- <link rel="stylesheet" type="text/css" href="./css/font-awesome.min.css"> --}}
    <link rel="stylesheet" type="text/css" href="/public/bulma/css/bulma.css">
    <link rel="stylesheet" type="text/css" href="/public/bulma/css/aside.css">
    <link rel="stylesheet" type="text/css" href="/public/css/styles.css">	
	<title>photoShare</title>

	<script type="text/javascript" src="https://static.filestackapi.com/v3/filestack.js"></script>

<script>
	var client = filestack.init('AZHc3BWSIR0OAF5nP0Kygz');

	function showPicker() {
		let albumId =  "{{albumId}}"
		let contributor = "{{username}}" 
		console.log(contributor)
		console.log(albumId)
		client.pick({
			fromSources: ['local_file_system', 'facebook', 'instagram', 'webcam'],
			maxSize: 10 * 1024 * 1024,
			maxFiles: 3,
		}).then(function(result) {
			console.log(JSON.stringify(result))
			for (let value of result.filesUploaded){
				$.post("/api/album/post/", {
					albumId: albumId,
					contributor: contributor,
					imageURL:value.url,
					imageName:value.filename,
					body: "placeholder"
				}).then(response=>{
					console.log(response)
					$.get(`/album/${albumId}`)	
					document.location.href = window.location + `${albumId}`			
				})
			}

		});
	}
	</script>
</head>
<body>

	
<nav class="navbar">
	<div class="navbar-brand">
		<a href="/profile" class="navbar-item">

			<span class="icon">
			<i class="fa fa-camera-retro"></i>
			</span>

			<p id="brand-text level"> Photo Share</p>
		</a>
	</div>
	<div class="navbar-menu">
		<div class="navbar-end">

			{{#if userId}}
			<a class="navbar-item has-text-danger" href="/profile">
				{{username}}
			</a>

			<a class="navbar-item" href="/logout">
				Log Out
			</a>

			{{else}}
			<a class="navbar-item" href="/signup">
				Sign Up
			</a>

			<a class="navbar-item"  href="/signin">
				Sign In
			</a>
			{{/if}}

		</div>
	</div>
</nav>
	
	{{{ body }}}

<footer class="hero is-success">
	<div class="hero-body has-text-centered">
		<p>
			<strong>Bulma</strong> by <a href="http://jgthms.com">Jeremy Thomas</a>. The source code is licensed
			<a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC ANS 4.0</a>.
		</p>
		<p>
			<a class="icon" href="https://github.com/jgthms/bulma">
				<i class="fa fa-github"></i>
			</a>
		</p>
	</div>
</footer>
		


<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>

<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="/public/slick/slick.min.js"></script>
<script type="text/javascript" src="/public/js/main.js"></script>



</body>
</html>