<section class="hero is-info is-small is-bold">
    <div class="hero-body">
        <div class="container">
                <div class="hero-image">
                    {{#each posts}}
                        <div class=""> <img src="{{this.imageURL}}" alt=""> </div>
                    {{/each}}

                    {{!-- <div class=""> <img src="http://loremflickr.com/600/440/dog?random=10" alt=""> </div>
                    <div class=""> <img src="http://loremflickr.com/600/440/dog?random=11" alt=""> </div>
                    <div class=""> <img src="http://loremflickr.com/600/440/dog?random=12" alt=""> </div>
                    <div class=""> <img src="http://loremflickr.com/600/440/dog?random=13" alt=""> </div>
                    <div class=""> <img src="http://loremflickr.com/600/440/dog?random=14" alt=""> </div>
                    <div class=""> <img src="http://loremflickr.com/600/440/dog?random=15" alt=""> </div> --}}
                </div>
            <div class="block">
                <div class="your-class">

                {{#each posts}}
                    <img src="{{this.imageURL}}" alt="">
                {{/each}}

                    {{!-- <img src="http://loremflickr.com/600/440/dog?random=10" alt="">
                    <img src="http://loremflickr.com/600/440/dog?random=11" alt="">
                    <img src="http://loremflickr.com/600/440/dog?random=12" alt="">
                    <img src="http://loremflickr.com/600/440/dog?random=13" alt="">
                    <img src="http://loremflickr.com/600/440/dog?random=14" alt="">
                    <img src="http://loremflickr.com/600/440/dog?random=15" alt=""> --}}
                </div>
            </div>

        </div>
    </div>
</section>

<div class="container">
    <div class="nav">
        <div class="nav-left">
            <p class="control level">
                <a class="button is-primary photoUpload" type="button" value="{{albumId}}" onclick="showPicker()">
                    <span class="icon">
                    <i class="fa fa-upload"></i>
                    </span>
                    <span>Upload Images</span>
                </a>
            </p>
        </div>
        <div class="nav-right">
            <div class="nav-item">
                <form class="field has-addons" action="/api/contributor/{{albumId}}" method="POST">
                    <p class="control">
                        <input type="text" class="input" placeholder="invite by email" name="email">
                    </p>
                    <p class="control">
                        <button type="submit" class="button is-primary is-bold">Invite!</button>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>

<section class="hero is-light is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-multiline">

            {{#if posts}}

                {{#each posts}}

                <div class="column is-one-quarter">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image">
                            <img src="{{this.imageURL}}" alt="Image">
                            </figure>
                        </div>
                    </div>
                </div>

                {{/each}}

            {{else}}
                <div class="title is-1 has-text-centered">
                    <p>You have no photos :(</p></div>

                </div>
            {{/if}}



                {{!-- <div class="column is-one-quarter">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                            <img src="http://loremflickr.com/600/440/dog?random=2" alt="Image">
                            </figure>
                        </div>
                    </div>
                </div>

                <div class="column is-one-quarter">
                    <div class="card"> 
                        <div class="card-image">
                            <figure class="image is-4by3">
                            <img src="http://loremflickr.com/600/440/dog?random=3" alt="Image">
                            </figure>
                        </div>
                    </div>
                </div>

                <div class="column is-one-quarter">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                            <img src="http://loremflickr.com/600/440/dog?random=4" alt="Image">
                            </figure>
                        </div>
                    </div>
                </div>

                <div class="column is-one-quarter">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                            <img src="http://loremflickr.com/600/440/dog?random=5" alt="Image">
                            </figure>
                        </div>
                    </div>
                </div>

                <div class="column is-one-quarter">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                            <img src="http://loremflickr.com/400/650/dog?random=6" alt="Image">
                            </figure>
                        </div>
                    </div>
                </div>

                <div class="column is-one-quarter">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                            <img src="http://loremflickr.com/720/40/dog?random=7" alt="Image">
                            </figure>
                        </div>
                    </div>
                </div>

                <div class="column is-one-quarter">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                            <img src="http://loremflickr.com/300/440/dog?random=8" alt="Image">
                            </figure>
                        </div>
                    </div>
                </div>

                <div class="column is-one-quarter">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                            <img src="http://loremflickr.com/700/340/dog?random=9" alt="Image">
                            </figure>
                        </div>
                    </div>
                </div> --}}

            </div>
        </div>
    </div>
</section>
